*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    background: #f3f3f3;
    font-family: 'Sen', sans-serif;
    font-family: 'Sarabun', sans-serif;
}
 
a{
    text-decoration: inherit;
}


.contenedor {
    width: 70%;
    max-width: 800px;
    margin: auto;

}
/*HEADER*/

header {
    padding: 20px 0;
    text-align: match-parent
}

header .logo {
    text-align: 00;
    margin-bottom: 0px;
    text-align: match-parent

}

header .logo p {
    color: saddlebrown;
    text-align: match-parent
}

div {
  margin-left: 15%; 
  margin-top: auto;
  padding: 20px;
  
}
 body {
  margin: 10000;
  font-size: 1,5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

